<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>
		
	</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link type="image/x-icon" rel="shortcut icon" href="images/favicon.png">
	<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
	<!-- build:css(.) styles/vendor.css -->
	<!-- bower:css -->
	<!-- endbower -->
	<!-- endbuild -->

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->
</head>
<body ng-app="mercedesApp" ng-controller="MainController">
	<!--[if lte IE 8]>
		Du bruger en virkelig gammel browser! Vi anbefaler du opdatere!
	<![endif]-->

	<!-- Add your site or application content here -->
	<div class="container-fluid">
		<div class="row p-2 p-md-4">
			<div class="col no-padding">

				<nav class="navbar navbar-expand-md navbar-dark">

					<span class="navbar-brand mb-0">
						
						<img src="images/Logo.png" class="img-fluid logo-size top-mobile-image-right">	

						<img src="images/MB_slogan.png" class="img-fluid slogan-size top-mobile-image-left">
					</span>


					<button class="navbar-toggler mr-0 ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>


					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav" style="width: 100%; max-width: 1400px; margin-right: 0; margin-left: auto;">

							<li class="nav-item" ng-class="{selected : page == 'forside'}">
								<a href="#!/forside" ng-click="selectPage('forside');" >
									Tilmelding
								</a>
							</li>
							<li class="nav-item" ng-class="{selected : page == 'viborg'}">
								<a href="#!/viborg" ng-click="selectPage('viborg');" ng-class="{selected : page == 'viborg'}">
									Program Viborg
								</a>
							</li>
							<li class="nav-item" ng-class="{selected : page == 'kolding'}">
								<a href="#!/kolding" ng-click="selectPage('kolding');" ng-class="{selected : page == 'kolding'}">
									Program Kolding
								</a>
							</li>
							<li class="nav-item"  ng-class="{selected : page == 'roskilde'}">
								<a href="#!/roskilde" ng-click="selectPage('roskilde');" ng-class="{selected : page == 'roskilde'}">
									Program Roskilde
								</a>
							</li>
						</ul>
					</div>
				</nav>

			</div>

		</div>



		<div class="row mb-5">
			<div class="col no-padding">
				<img src="images/topbanner_trucks.jpg" class="img-fluid" style="max-width: 100%; height: auto;">
			</div>
		</div>
	</div>

	<div class="container content" ng-view>
	</div>

	<div class="footer" style="height: 50px;">
	</div>

	<!-- build:js scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-aria/angular-aria.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-messages/angular-messages.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-touch/angular-touch.js"></script>
	<script src="bower_components/angular-google-analytics/dist/angular-google-analytics.min.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers/main.js"></script>
	<script src="scripts/controllers/viborg.js"></script>
	<script src="scripts/controllers/kolding.js"></script>
	<script src="scripts/controllers/roskilde.js"></script>
	<!-- endbuild -->
</body>
</html>
