<div class="row">
	<div class="col-12 mb-5">
		<h1>
			Road Efficiency Tour 2018
		</h1>
		<p>
			Vi har været rundt i Danmark for at vise de nyeste sikkerhedssystemer frem. Få et glimt af hvordan
			det gik i Viborg, Kolding og Roskilde her.
			<br>
			Mange tak til alle som var med på turen.
			<br>
			Har du spørgsmål eller vil du vide mere om systemerne er du velkommen til at kontakte din lokale
			lastbilssælger
		</p>
		<div class="embed-responsive embed-responsive-16by9 mt-5">
			<iframe src="https://player.vimeo.com/video/275057292" width="640" height="480"
			frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
	<div class="col-12 mt-5">
		<a name="galleri"></a>
		<p>Klik på ét af billederne for at åbne et galleri fra den valgte by.</p>
	</div>
	<div class="col-12 col-lg-4">
		<a name="viborg"></a>
		<h1>
			Viborg
		</h1>

		<div id="lightgalleryViborg" class="displayFirstOnly">
			<a href="images/galleryViborg/img0001.png"><img class="img-fluid" src="images/galleryViborg/img0001_thumb.png"></a>
			<a href="images/galleryViborg/img0003.png"><img class="img-fluid" src="images/galleryViborg/img0003_thumb.png"></a>
			<a href="images/galleryViborg/img0004.png"><img class="img-fluid" src="images/galleryViborg/img0004_thumb.png"></a>
			<a href="images/galleryViborg/img0005.png"><img class="img-fluid" src="images/galleryViborg/img0005_thumb.png"></a>
			<a href="images/galleryViborg/img0006.png"><img class="img-fluid" src="images/galleryViborg/img0006_thumb.png"></a>
			<a href="images/galleryViborg/img0007.png"><img class="img-fluid" src="images/galleryViborg/img0007_thumb.png"></a>
			<a href="images/galleryViborg/img0008.png"><img class="img-fluid" src="images/galleryViborg/img0008_thumb.png"></a>
			<a href="images/galleryViborg/img0009.png"><img class="img-fluid" src="images/galleryViborg/img0009_thumb.png"></a>
			<a href="images/galleryViborg/img0010.png"><img class="img-fluid" src="images/galleryViborg/img0010_thumb.png"></a>
			<a href="images/galleryViborg/img0011.png"><img class="img-fluid" src="images/galleryViborg/img0011_thumb.png"></a>
			<a href="images/galleryViborg/img0012.png"><img class="img-fluid" src="images/galleryViborg/img0012_thumb.png"></a>
			<a href="images/galleryViborg/img0013.png"><img class="img-fluid" src="images/galleryViborg/img0013_thumb.png"></a>
			<a href="images/galleryViborg/img0014.png"><img class="img-fluid" src="images/galleryViborg/img0014_thumb.png"></a>
			<a href="images/galleryViborg/img0015.png"><img class="img-fluid" src="images/galleryViborg/img0015_thumb.png"></a>
			<a href="images/galleryViborg/img0016.png"><img class="img-fluid" src="images/galleryViborg/img0016_thumb.png"></a>
			<a href="images/galleryViborg/img0017.png"><img class="img-fluid" src="images/galleryViborg/img0017_thumb.png"></a>
			<a href="images/galleryViborg/img0018.png"><img class="img-fluid" src="images/galleryViborg/img0018_thumb.png"></a>
			<a href="images/galleryViborg/img0019.png"><img class="img-fluid" src="images/galleryViborg/img0019_thumb.png"></a>
			<a href="images/galleryViborg/img0020.png"><img class="img-fluid" src="images/galleryViborg/img0020_thumb.png"></a>
			<a href="images/galleryViborg/img0021.png"><img class="img-fluid" src="images/galleryViborg/img0021_thumb.png"></a>
			<a href="images/galleryViborg/img0022.png"><img class="img-fluid" src="images/galleryViborg/img0022_thumb.png"></a>
			<a href="images/galleryViborg/img0023.png"><img class="img-fluid" src="images/galleryViborg/img0023_thumb.png"></a>
			<a href="images/galleryViborg/img0024.png"><img class="img-fluid" src="images/galleryViborg/img0024_thumb.png"></a>
			<a href="images/galleryViborg/img0025.png"><img class="img-fluid" src="images/galleryViborg/img0025_thumb.png"></a>
			<a href="images/galleryViborg/img0026.png"><img class="img-fluid" src="images/galleryViborg/img0026_thumb.png"></a>
			<a href="images/galleryViborg/img0027.png"><img class="img-fluid" src="images/galleryViborg/img0027_thumb.png"></a>
			<a href="images/galleryViborg/img0028.png"><img class="img-fluid" src="images/galleryViborg/img0028_thumb.png"></a>
			<a href="images/galleryViborg/img0029.png"><img class="img-fluid" src="images/galleryViborg/img0029_thumb.png"></a>
			<a href="images/galleryViborg/img0030.png"><img class="img-fluid" src="images/galleryViborg/img0030_thumb.png"></a>
			<a href="images/galleryViborg/img0031.png"><img class="img-fluid" src="images/galleryViborg/img0031_thumb.png"></a>
			<a href="images/galleryViborg/img0032.png"><img class="img-fluid" src="images/galleryViborg/img0032_thumb.png"></a>
			<a href="images/galleryViborg/img0033.png"><img class="img-fluid" src="images/galleryViborg/img0033_thumb.png"></a>
			<a href="images/galleryViborg/img0034.png"><img class="img-fluid" src="images/galleryViborg/img0034_thumb.png"></a>
			<a href="images/galleryViborg/img0035.png"><img class="img-fluid" src="images/galleryViborg/img0035_thumb.png"></a>
			<a href="images/galleryViborg/img0036.png"><img class="img-fluid" src="images/galleryViborg/img0036_thumb.png"></a>
			<a href="images/galleryViborg/img0037.png"><img class="img-fluid" src="images/galleryViborg/img0037_thumb.png"></a>
			<a href="images/galleryViborg/img0038.png"><img class="img-fluid" src="images/galleryViborg/img0038_thumb.png"></a>
			<a href="images/galleryViborg/img0039.png"><img class="img-fluid" src="images/galleryViborg/img0039_thumb.png"></a>
			<a href="images/galleryViborg/img0040.png"><img class="img-fluid" src="images/galleryViborg/img0040_thumb.png"></a>
			<a href="images/galleryViborg/img0041.png"><img class="img-fluid" src="images/galleryViborg/img0041_thumb.png"></a>
			<a href="images/galleryViborg/img0042.png"><img class="img-fluid" src="images/galleryViborg/img0042_thumb.png"></a>
			<a href="images/galleryViborg/img0043.png"><img class="img-fluid" src="images/galleryViborg/img0043_thumb.png"></a>
			<a href="images/galleryViborg/img0044.png"><img class="img-fluid" src="images/galleryViborg/img0044_thumb.png"></a>
			<a href="images/galleryViborg/img0045.png"><img class="img-fluid" src="images/galleryViborg/img0045_thumb.png"></a>
			<a href="images/galleryViborg/img0046.png"><img class="img-fluid" src="images/galleryViborg/img0046_thumb.png"></a>
			<a href="images/galleryViborg/img0047.png"><img class="img-fluid" src="images/galleryViborg/img0047_thumb.png"></a>
			<a href="images/galleryViborg/img0048.png"><img class="img-fluid" src="images/galleryViborg/img0048_thumb.png"></a>
			<a href="images/galleryViborg/img0049.png"><img class="img-fluid" src="images/galleryViborg/img0049_thumb.png"></a>
			<a href="images/galleryViborg/img0050.png"><img class="img-fluid" src="images/galleryViborg/img0050_thumb.png"></a>
			<a href="images/galleryViborg/img0051.png"><img class="img-fluid" src="images/galleryViborg/img0051_thumb.png"></a>
			<a href="images/galleryViborg/img0052.png"><img class="img-fluid" src="images/galleryViborg/img0052_thumb.png"></a>
			<a href="images/galleryViborg/img0053.png"><img class="img-fluid" src="images/galleryViborg/img0053_thumb.png"></a>
			<a href="images/galleryViborg/img0054.png"><img class="img-fluid" src="images/galleryViborg/img0054_thumb.png"></a>
			<a href="images/galleryViborg/img0055.png"><img class="img-fluid" src="images/galleryViborg/img0055_thumb.png"></a>
			<a href="images/galleryViborg/img0056.png"><img class="img-fluid" src="images/galleryViborg/img0056_thumb.png"></a>
			<a href="images/galleryViborg/img0057.png"><img class="img-fluid" src="images/galleryViborg/img0057_thumb.png"></a>
		</div>
	</div>
	<div class="col-12 col-lg-4 mt-lg-0 mt-5">
		<a name="kolding"></a>
		<h1>
			Kolding
		</h1>

		<div id="lightgalleryKolding" class="displayFirstOnly">
			<a href="images/galleryKolding/img0001.png"><img class="img-fluid" src="images/galleryKolding/img0001_thumb.png"></a>
			<a href="images/galleryKolding/img0003.png"><img class="img-fluid" src="images/galleryKolding/img0003_thumb.png"></a>
			<a href="images/galleryKolding/img0004.png"><img class="img-fluid" src="images/galleryKolding/img0004_thumb.png"></a>
			<a href="images/galleryKolding/img0005.png"><img class="img-fluid" src="images/galleryKolding/img0005_thumb.png"></a>
			<a href="images/galleryKolding/img0006.png"><img class="img-fluid" src="images/galleryKolding/img0006_thumb.png"></a>
			<a href="images/galleryKolding/img0007.png"><img class="img-fluid" src="images/galleryKolding/img0007_thumb.png"></a>
			<a href="images/galleryKolding/img0008.png"><img class="img-fluid" src="images/galleryKolding/img0008_thumb.png"></a>
			<a href="images/galleryKolding/img0009.png"><img class="img-fluid" src="images/galleryKolding/img0009_thumb.png"></a>
			<a href="images/galleryKolding/img0010.png"><img class="img-fluid" src="images/galleryKolding/img0010_thumb.png"></a>
			<a href="images/galleryKolding/img0011.png"><img class="img-fluid" src="images/galleryKolding/img0011_thumb.png"></a>
			<a href="images/galleryKolding/img0012.png"><img class="img-fluid" src="images/galleryKolding/img0012_thumb.png"></a>
			<a href="images/galleryKolding/img0013.png"><img class="img-fluid" src="images/galleryKolding/img0013_thumb.png"></a>
			<a href="images/galleryKolding/img0014.png"><img class="img-fluid" src="images/galleryKolding/img0014_thumb.png"></a>
		</div>
	</div>
	<div class="col-12 col-lg-4 mt-lg-0 mt-5">
		<a name="roskilde"></a>
		<h1>
			Roskilde
		</h1>

		<div id="lightgalleryRoskilde" class="displayFirstOnly">
			<a href="images/galleryRoskilde/img0001.png"><img class="img-fluid" src="images/galleryRoskilde/img0001_thumb.png"></a>
			<a href="images/galleryRoskilde/img0003.png"><img class="img-fluid" src="images/galleryRoskilde/img0003_thumb.png"></a>
			<a href="images/galleryRoskilde/img0004.png"><img class="img-fluid" src="images/galleryRoskilde/img0004_thumb.png"></a>
			<a href="images/galleryRoskilde/img0005.png"><img class="img-fluid" src="images/galleryRoskilde/img0005_thumb.png"></a>
			<a href="images/galleryRoskilde/img0006.png"><img class="img-fluid" src="images/galleryRoskilde/img0006_thumb.png"></a>
			<a href="images/galleryRoskilde/img0007.png"><img class="img-fluid" src="images/galleryRoskilde/img0007_thumb.png"></a>
			<a href="images/galleryRoskilde/img0008.png"><img class="img-fluid" src="images/galleryRoskilde/img0008_thumb.png"></a>
			<a href="images/galleryRoskilde/img0009.png"><img class="img-fluid" src="images/galleryRoskilde/img0009_thumb.png"></a>
			<a href="images/galleryRoskilde/img0010.png"><img class="img-fluid" src="images/galleryRoskilde/img0010_thumb.png"></a>
			<a href="images/galleryRoskilde/img0011.png"><img class="img-fluid" src="images/galleryRoskilde/img0011_thumb.png"></a>
			<a href="images/galleryRoskilde/img0012.png"><img class="img-fluid" src="images/galleryRoskilde/img0012_thumb.png"></a>
			<a href="images/galleryRoskilde/img0013.png"><img class="img-fluid" src="images/galleryRoskilde/img0013_thumb.png"></a>
			<a href="images/galleryRoskilde/img0014.png"><img class="img-fluid" src="images/galleryRoskilde/img0014_thumb.png"></a>
			<a href="images/galleryRoskilde/img0015.png"><img class="img-fluid" src="images/galleryRoskilde/img0015_thumb.png"></a>
			<a href="images/galleryRoskilde/img0016.png"><img class="img-fluid" src="images/galleryRoskilde/img0016_thumb.png"></a>
			<a href="images/galleryRoskilde/img0017.png"><img class="img-fluid" src="images/galleryRoskilde/img0017_thumb.png"></a>
			<a href="images/galleryRoskilde/img0018.png"><img class="img-fluid" src="images/galleryRoskilde/img0018_thumb.png"></a>
			<a href="images/galleryRoskilde/img0019.png"><img class="img-fluid" src="images/galleryRoskilde/img0019_thumb.png"></a>
			<a href="images/galleryRoskilde/img0020.png"><img class="img-fluid" src="images/galleryRoskilde/img0020_thumb.png"></a>
			<a href="images/galleryRoskilde/img0021.png"><img class="img-fluid" src="images/galleryRoskilde/img0021_thumb.png"></a>
			<a href="images/galleryRoskilde/img0022.png"><img class="img-fluid" src="images/galleryRoskilde/img0022_thumb.png"></a>
			<a href="images/galleryRoskilde/img0023.png"><img class="img-fluid" src="images/galleryRoskilde/img0023_thumb.png"></a>
			<a href="images/galleryRoskilde/img0024.png"><img class="img-fluid" src="images/galleryRoskilde/img0024_thumb.png"></a>
			<a href="images/galleryRoskilde/img0025.png"><img class="img-fluid" src="images/galleryRoskilde/img0025_thumb.png"></a>
			<a href="images/galleryRoskilde/img0026.png"><img class="img-fluid" src="images/galleryRoskilde/img0026_thumb.png"></a>
			<a href="images/galleryRoskilde/img0027.png"><img class="img-fluid" src="images/galleryRoskilde/img0027_thumb.png"></a>
			<a href="images/galleryRoskilde/img0028.png"><img class="img-fluid" src="images/galleryRoskilde/img0028_thumb.png"></a>
			<a href="images/galleryRoskilde/img0029.png"><img class="img-fluid" src="images/galleryRoskilde/img0029_thumb.png"></a>
			<a href="images/galleryRoskilde/img0030.png"><img class="img-fluid" src="images/galleryRoskilde/img0030_thumb.png"></a>
			<a href="images/galleryRoskilde/img0031.png"><img class="img-fluid" src="images/galleryRoskilde/img0031_thumb.png"></a>
			<a href="images/galleryRoskilde/img0032.png"><img class="img-fluid" src="images/galleryRoskilde/img0032_thumb.png"></a>
			<a href="images/galleryRoskilde/img0033.png"><img class="img-fluid" src="images/galleryRoskilde/img0033_thumb.png"></a>
			<a href="images/galleryRoskilde/img0034.png"><img class="img-fluid" src="images/galleryRoskilde/img0034_thumb.png"></a>
			<a href="images/galleryRoskilde/img0035.png"><img class="img-fluid" src="images/galleryRoskilde/img0035_thumb.png"></a>
			<a href="images/galleryRoskilde/img0036.png"><img class="img-fluid" src="images/galleryRoskilde/img0036_thumb.png"></a>
			<a href="images/galleryRoskilde/img0037.png"><img class="img-fluid" src="images/galleryRoskilde/img0037_thumb.png"></a>
			<a href="images/galleryRoskilde/img0038.png"><img class="img-fluid" src="images/galleryRoskilde/img0038_thumb.png"></a>
			<a href="images/galleryRoskilde/img0039.png"><img class="img-fluid" src="images/galleryRoskilde/img0039_thumb.png"></a>
			<a href="images/galleryRoskilde/img0040.png"><img class="img-fluid" src="images/galleryRoskilde/img0040_thumb.png"></a>
			<a href="images/galleryRoskilde/img0041.png"><img class="img-fluid" src="images/galleryRoskilde/img0041_thumb.png"></a>
			<a href="images/galleryRoskilde/img0042.png"><img class="img-fluid" src="images/galleryRoskilde/img0042_thumb.png"></a>
		</div>
	</div>
</div>