<div class="row">
	<div class="col">
		<h1>
			Program Kolding.
		</h1>

		<p class="noMargin">
			<span class="mr-3">
				Dato:	
			</span>
			
			1. juni 2018
			<br><br>
			<span class="mr-3">
				Sted:	
			</span>
			
			Kolding Køreteknisk Anlæg, Vranderupvej 15, 6000 Kolding
		</p>

		<br>

		<p>
			Oplev de nye sikkerhedssystemer helt tæt på. 
		</p>

		<p>
			Se det live på banen!
		</p>

		<p>
			Prøv det selv!
		</p>

		<p class="noMargin">
			Som en lille ekstra godte kan du få en tur i Mercedes-Benz AMG og vi sørger for, at du ikke går sulten eller tørstig herfra.
		</p>

		<br>

		<p>
			Når du tilmelder dig, kan du vælge, om du vil deltage i formiddags- eller eftermiddagsprogrammet. 
		</p>

		<h2 class="my-4">
			Formiddagen.
		</h2>

		<p class="mb-2">
			<span class="mr-3">
				Kl. 11:00 
			</span> 
			
			Ankomst og velkomst
		</p>

		<p class="mb-2">
			<span class="mr-3">
				Kl. 11:15 
			</span> 
			
			Live demo af automatisk nødbremsesystem
		</p>

		<p class="mb-2">
			<span class="mr-3">
				Kl. 11:30 
			</span> 
			
			Live demo af højresvingsassistent
		</p>

		<p class="mb-2">
			<span class="mr-3">
				Kl. 11:45 
			</span> 
			
			Testkørsler, netværk og stående spisning
		</p>

		<p class="mb-2">
			<span class="mr-3">
				Kl. 13:00
			</span> 
			
			AMG prøvekørsel, netværk og stående spisning
		</p>

		<h2 class="my-4">
			Eftermiddag.
		</h2>

		<p class="mb-2">
			<span class="mr-3">
				Kl. 14:00
			</span> 

			Ankomst og velkomst
		</p>

		<p class="mb-2">
			<span class="mr-3">
				Kl. 14:15
			</span> 
			
			Live demo af automatisk nødbremsesystem
		</p>

		<p class="mb-2">
			<span class="mr-3">
				Kl. 14:30
			</span> 

			Live demo af højresvingsassistent
		</p>

		<p class="mb-2">
			<span class="mr-3">
				Kl. 14:45
			</span> 
			Testkørsler, netværk og stående spisning
		</p>

		<p class="mb-2">
			<span class="mr-3">
				Kl. 16:00
			</span> 
			
			AMG prøvekørsel, netværk og stående spisning
		</p>

		<h1 class="my-5">
			Praktisk Info.
		</h1>

		<img src="images/kolding-kort.png" class="img-fluid" style="max-width: 100%; height: auto; margin-bottom: 1rem;">

		<h2 class="my-4">
			Tjek ind
		</h2>

		<p>
			Vi står klar til at modtage dig, når du ankommer. <br>
			Når du tilmelder dig, modtager du en bekræftelse på mail med dine indtastede oplysninger. Denne mail fungerer som din billet til arrangementet. Den skal du fremvise i indgangen enten på print eller mobil. 

		</p>

		<h2 class="my-4">
			Parkering.
		</h2>

		<p>
			Parkér venligst hos Transport Teknik A/S, Vranderrupvej 2, 6000 Kolding. Der vil være anvisninger på lokationen.
		</p>

		<h2 class="my-4">
			Afbud.
		</h2>

		<p>
			Er du blevet forhindret i at deltage, efter du har tilmeldt dig, beder vi dig sende en mail til <a href="mailto:info@mbtrucks-event.dk?subject=Afbud">info@mbtrucks-event.dk</a> med ”Afbud” i emnefeltet.
			I mailen skriver du dit navn, email og din virksomhed. 
		</p>
	</div>
</div>