<div class="col-md-12 contentTopMargin">
	<div class="col-md-12 no-padding">
		<h1>
			Road Efficiency Tour 2018.
		</h1>
	</div>

	<div class="col-md-12 no-padding">
		<p class="noMargin">
			Vi er klar til at vise dig, hvad de nyeste modeller kan.
			
			<br>

			Oplev vores lastbiler og Mercedes-Benz AMG helt tæt på og se live demonstrationer af de nyeste sikkerhedssystemer inden for lastbiler.
			
			<br>

			Vil du selv prøve? 	
		</p>

		<br>
		
		<p class="">
			Tilmeld dig her og book en prøvekørsel et af følgende steder enten fra kl. 11 -14 eller 14 – 17. 
		</p>

		<p class="dateText">
			25. maj: 	Viborg Køreteknisk Anlæg 	
		</p>
		
		<p class="dateText">
			1. juni:	Kolding Køreteknisk Anlæg 
		</p>

		<p class="dateText">
			8. juni: 	Sjællandsringen i Roskilde 	
		</p>

		<br>

		<p>
			Har du spørgsmål er du velkommen til at skrive til <a href="mailto:info@mercedes-benz-trucks.dk">info@mercedes-benz-trucks.dk</a>.	
		</p>
	</div>

	<div class="col-md-12 starMargin no-padding">
		<h1>
			Tilmeld dig her.
		</h1>

		<p class="topMargin">
			Tilmeld dig senest den 18. maj via formularen nedenfor. 

			<br/>

			Har du ikke mulighed for at deltage, vil vi bede dig melde afbud i formularen - det vil være en stor hjælp.
		</p>
		
		<div class="row">
			<div id="wufoo-wfpwnhg1yt7tvg">
				Fill out my <a href="https://dypaang.wufoo.eu/forms/wfpwnhg1yt7tvg">online form</a>.
				</div>
				<script type="text/javascript">var wfpwnhg1yt7tvg;(function(d, t) {
				var s = d.createElement(t), options = {
				'userName':'dypaang',
				'formHash':'wfpwnhg1yt7tvg',
				'autoResize':true,
				'height':'1311',
				'async':true,
				'host':'wufoo.eu',
				'header':'hide',
				'ssl':true};
				s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.eu/scripts/embed/form.js';
				s.onload = s.onreadystatechange = function() {
				var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
				try { wfpwnhg1yt7tvg = new WufooForm();wfpwnhg1yt7tvg.initialize(options);wfpwnhg1yt7tvg.display(); } catch (e) {}};
				var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
				})(document, 'script');</script>
		</div>
	</div>
</div>