<div class="row">
	<div class="col">
		<h1>
			Road Efficiency Tour 2018.
		</h1>

		<p>
			Vi er klar til at vise dig, hvad de nyeste modeller kan.

			<br>

			Oplev vores lastbiler og Mercedes-Benz AMG helt tæt på og se live demonstrationer af de nyeste sikkerhedssystemer inden for lastbiler.

			<br>

			Vil du selv prøve? 	
		</p>

		<br>

		<p>
			Tilmeld dig her og book en prøvekørsel et af følgende steder enten fra kl. 11 -14 eller 14 – 17. 
		</p>

		<p class="mb-0">
			25. maj: 	Viborg Køreteknisk Anlæg 	
		</p>

		<p class="mb-0">
			1. juni:	Kolding Køreteknisk Anlæg 
		</p>

		<p class="mb-0">
			8. juni: 	Sjællandsringen i Roskilde 	
		</p>

		<br>

		<p>
			Har du spørgsmål er du velkommen til at skrive til <a href="mailto:info@mbtrucks-event.dk">info@mbtrucks-event.dk</a>.	
		</p>

		<h1 class="mt-5">
			Tilmeld dig her.
		</h1>

		<p>
			Tilmeld dig senest den 18. maj via formularen nedenfor. 

			<br/>

			Har du ikke mulighed for at deltage, vil vi bede dig melde afbud i formularen - det vil være en stor hjælp.
		</p>


		<div id="wufoo-wfpwnhg1yt7tvg" class="wufooContainer">
			Fill out my <a href="https://dypaang.wufoo.eu/forms/wfpwnhg1yt7tvg">online form</a>.
		</div>
		<script type="text/javascript"></script>

	</div>
</div>