<div class="col-md-12 contentTopMargin">
	<div class="col-md-12 no-padding">
		<h1>
			Program.
		</h1>
	</div>

	<div class="col-md-12 no-padding programText">
		<p class="noMargin">
			<span>
				Dato:	
			</span>
			
			25. maj 2018
		</p>

		<br>

		<p>
			<span>
				Sted:	
			</span>
			
			Viborg Køreteknisk Anlæg, Ålandsvej 2, 8800 Viborg
		</p>

		<br>

		<p>
			Oplev de nye sikkerhedssystemer helt tæt på. 
		</p>

		<p>
			Se det live på banen!
		</p>

		<p>
			Prøv det selv!
		</p>

		<p class="noMargin">
			Som en lille ekstra godte kan du få en tur i Mercedes-Benz AMG.  
		</p>

		<p>
			Når du tilmelder dig, kan du vælge om du vil deltage i formiddags- eller eftermiddagsprogrammet. 
		</p>
	</div>

	<div class="col-md-12 topMargin no-padding programText">
		<h2>
			Formiddagen.
		</h2>

		<p style="margin-top: 10px;">
			<span>
				Kl. 11:00 
			</span> 
			
			Ankomst og velkomst
		</p>

		<p>
			<span>
				Kl. 11:15 
			</span> 
			
			Live demo ABA4 (m. kommentering)
		</p>

		<p>
			<span>
				Kl. 11:30 
			</span> 
			
			Live demo højresving (m. kommentering)
		</p>

		<p>
			<span>
				Kl. 11:45 
			</span> 
			
			Testkørsler, netværk og stående spisning
		</p>

		<p>
			<span>
				Kl. 13:00
			</span> 
			
			AMG prøvekørsel, netværk og stående spisning
		</p>
	</div>

	<div class="col-md-12 topMargin no-padding programText">
		<h2>
			Eftermiddag.
		</h2>

		<p>
			<span>
				Kl. 14:00
			</span> 

			Ankomst og velkomst
		</p>

		<p>
			<span>
				Kl. 14:15
			</span> 
			
			Live demo ABA4 (m. kommentering)
		</p>

		<p>
			<span>
				Kl. 14:30
			</span> 

			Live demo højresving (m. kommentering)
		</p>

		<p>
			<span>
				Kl. 14:45
			</span> 
			Testkørsler, netværk og stående spisning
		</p>

		<p>
			<span>
				Kl. 16:00
			</span> 
			
			AMG prøvekørsel, netværk og stående spisning
		</p>
	</div>

	<div class="col-md-12 no-padding topMargin">
		<img src="images/Viborg_KORT_2-ny.png" class="img-fluid" style="max-width: 100%; height: auto;">
	</div>

	<div class="col-md-12 starMargin no-padding">
		<h1>
			Praktisk Info.
		</h1>

		<div class="col-md-12 no-padding topMargin">
			<h2>
				Tjek ind
			</h2>

			<p style="margin-top: 10px;">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>

		<div class="col-md-12 no-padding topMargin">
			<h2>
				Parkering.
			</h2>

			<p style="margin-top: 10px;">
				Du finder parkering på anlæggets område. Se kortet ovenfor.
			</p>
		</div>

		<div class="col-md-12 no-padding topMargin">
			<h2>
				Afbud.
			</h2>

			<p style="margin-top: 10px;">
				Er du blevet forhindret i at deltage, efter du har tilmeldt dig, beder vi dig sende en mail til <a href="mailto:info@mercedes-benz-trucks.dk">info@mercedes-benz-trucks.dk</a> med ”Afbud” i emnefeltet.
				I mailen skriver du dit navn, email og din virksomhed. 
			</p>
		</div>
	</div>
</div>